bookinfo.dtd

<!ENTITY % core SYSTEM "./core.dtd">
%core;
<!ELEMENT bookinfo (title,subtitle?,authors,legal,part+)>
<!ELEMENT part (title,chap+)>
<!ELEMENT chap (chapter)>
<!ATTLIST chap file CDATA #REQUIRED
         	 nf (0|1) "0"
>
<!ELEMENT name (#PCDATA)>
<!ELEMENT authors (main-author,sec-author*)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT subtitle (#PCDATA)>
<!ELEMENT legal (#PCDATA)>
<!ATTLIST legal year CDATA #IMPLIED>
<!ELEMENT main-author (#PCDATA)>
<!ELEMENT sec-author (#PCDATA)>
